html {
  font-size: 14px;
}
.container#content {
  margin-top: 100px;
}
@media only screen and (min-width: 768px) {
  .container#content {
    margin-top: 160px;
  }
  html {
    font-size: 16px;
  }
}
body {
  background-color: $light-gray;
  font-family: $site-font;
  background-image: url("../images/background-image.png");
  background-attachment: fixed;
}
a {
  color: $links-color-light;
  
  &:hover {
    color: $links-color-light--hover;
    text-decoration: none;
  }
}
.h1 {
  font-size: $font-size-h1;
  margin-bottom: 0px;
  text-align: center;
}
p {
  font-weight: $weight-font-text;
  line-height: 1.8;
}
.navbar {
  background-color: $white;
  border-bottom: 1px solid $border-navbar-light;
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: $links-color-light;
  font-size: $size-font-nav;

  &:hover {
    color: $links-color-light--hover;
  }
}
ul {
  list-style: none;
  padding: 0;
}
//reactstrap
.badge-primary {
  background-color: $links-color-light;
}
.btn-primary {
  background-color: $links-color-light;
  border-color: $links-color-light;
}
.btn-outline-primary {
  color: $links-color-light;
  border-color: $links-color-light;
}
.btn-outline-primary {
  color: $links-color-light--hover;
  border-color: $links-color-light--hover;
}
.text-info {
  color: $links-color-light !important;
}
//Pagination
.page-link {
  background-color: $dark-gray;
  color: $links-color-dark;
  border-color: $black;
}
.page-item.disabled {
  .page-link {
    background-color: $light-gray;
    color: $links-color-light;
    border-color: $black;
  }
}
.page-item.active {
  .page-link {
    background-color: $links-color-light;
    color: $white;
    border-color: $black;
  }
}

//Dark mode
body.dark {
  background-color: $dark-gray-bg;
  color: $light-gray;

  h1 {
    color: $light-gray;
  }
  .navbar {
    background-color: $dark-gray;
    border-bottom: 1px solid $border-navbar-dark;
    line-height: 1;
  }
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-brand {
    color: $links-color-dark;
    font-size: $size-font-nav;

    &:hover {
      color: $links-color-dark--hover;
    }
  }

  //reactstrap
  .badge-primary {
    background-color: $links-color-dark;
  }
  .btn-primary {
    background-color: $links-color-dark;
    border-color: $links-color-dark;
  }
  .btn-outline-primary {
    color: $links-color-dark;
    border-color: $links-color-dark;
  }
  .btn-outline-primary:hover {
    color: $links-color-dark--hover;
    border-color: $links-color-dark--hover;
  }
  .text-info {
    color: $links-color-dark !important;
  }
  //Pagination
  .page-link {
    background-color: $dark-gray;
    color: $links-color-dark;
    border-color: $black;
  }
  .page-item.disabled {
    .page-link {
      background-color: $light-gray;
      color: $links-color-dark;
      border-color: $black;
    }
  }
  .page-item.active {
    .page-link {
      background-color: $links-color-dark;
      color: $white;
      border-color: $black;
    }
  }
}