.site-footer {
  background-color: $white;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.25rem;
  text-align: center;
  border-top: 1px solid $border-navbar-light;

  .footer-social-links {
    max-width: 200px;
    margin: 0 auto;

    ul.social-links-list {
      margin: 6px 0;
      display: flex;
      justify-content: space-around;

      li {

        a {
          color: $dark-gray;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.google:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
          &.youtube:hover {
            color: #c4302b;
          }
        }
      }
    }
  }
}

//Dark

.dark {
  .site-footer {
    background-color: $dark-gray;
    border-top: 1px solid $border-navbar-dark;

    a {
      color: $links-color-dark;
      &:hover {
        color: $links-color-dark--hover;
      }
    }

    .footer-social-links {
      text-align: center;
  
      ul.social-links-list {
        li {
  
          a {
            color: $light-gray;
          }
        }
      }
    }
  }  
}